[submodule "confetex"]
	path = confetex
	url = git@git.vauxoo.com:vauxoo/confetex.git
	branch = 15.0
[submodule "reporting-engine"]
	path = reporting-engine
	url = git@github.com:Vauxoo/reporting-engine.git
	branch = 15.0
[submodule "mexico"]
	path = mexico
	url = git@git.vauxoo.com:vauxoo/mexico.git
	branch = 15.0
[submodule "edi-document"]
	path = edi-document
	url = git@git.vauxoo.com:vauxoo/edi-document.git
	branch = 15.0
[submodule "mexico-document"]
	path = mexico-document
	url = git@git.vauxoo.com:vauxoo/mexico-document.git
	branch = 15.0
[submodule "sh-tools"]
	path = sh-tools
	url = git@git.vauxoo.com:vauxoo/sh-tools.git
	branch = 15.0
[submodule "OCA/account-financial-tools"]
	path = OCA/account-financial-tools
	url = git@github.com:OCA/account-financial-tools.git
	branch = 15.0
[submodule "purchase-workflow"]
	path = purchase-workflow
	url = git@github.com:Vauxoo/purchase-workflow.git
	branch = 15.0
